:root {
	--color-white: #ffffff;
	--color-black: #000000;

	--color-neutral-1: whitesmoke;
	--color-neutral-2: gainsboro;
	--color-neutral-3: lightgrey;
	--color-neutral-4: silver;
	--color-neutral-5: darkgrey;
	--color-neutral-6: grey;
	--color-neutral-7: dimgrey;

	--color-lightblue-1: ghostwhite;
	--color-lightblue-2: aliceblue;
	--color-lightblue-3: lavender;
	--color-lightblue-4: lightsteelblue;

	--logo-color: var(--color-black);
	--link-color: mediumblue;
}
